/*базовый стиль*/
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  position: relative;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

/*базовая стилизация шапки */

.main-header {
  color: #000000;

  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a,
.current a:hover,
.current a:focus,
.current a:active {
  color: #766357;
}

/*базовая стилизация раздела-приветствия */

.welcome {
  color: #000000;

  background-color: #2c424b;
  background-image: url("../img/polygon.svg"), url("../img/bg-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center -55px;
  background-size: 1200px 57px, auto;
}

.about {
  color: #000000;

  background-color: #ffffff;
}

.about-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*базовая стилизация раздела с преимуществами */

.features {
  color: #000000;

  background-color: #ffffff;
}

.features-subtitle {
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  list-style: none;
  text-align: center;

  background-color: #eeeeee;
}

.features-item {
  color: #333333;
}

.features-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features-item-main {
  color: #ffffff;

  background-color: #81b3d2;
}

.features-item-main h3 {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}

.reason-features-list {
  list-style: none;
  color: #333333;

  background-color: #ffffff;
}

.reason-features-list h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

/*базовая стилизация раздела с поиском гостиницы */

.hotel-search {
  text-align: center;

  background-color: #ffffff;
}

.hotel-search-proposal {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search-intro {
  line-height: 24px;
}

.hotel-search-open-button,
.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
}

.hotel-search-open-button {
  background-color: #766357;
}

.hotel-search-open-button:hover,
.hotel-search-open-button:focus {
  background-color: #604e43;
}

.hotel-search-open-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-search-button {
  background-color: #81b3d2;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #669ec0;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-search-popup {
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.hotel-search-form label {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-search-form input {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search-form input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.calendar-button {
  background-color: #f2f2f2;
  border: none;
}

.qty-button {
  background-color: #f2f2f2;
  border: none;
}

/*базовая стилизация подвала */

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-social ul {
  list-style: none;
  text-align: center;
}

.footer-social a {
  color: #ffffff;

  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-copyright-link svg {
  width: 113px;
  height: 39px;

  fill: #231f20;
}

.footer-copyright-link:hover svg,
.footer-copyright-link:focus svg {
  fill: #81b3d2;
}

.footer-copyright-link:active svg {
  fill: #bdbbbc;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  position: relative;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

/*базовая стилизация шапки */

.main-header {
  color: #000000;

  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a,
.current a:hover,
.current a:focus,
.current a:active {
  color: #766357;
}

/*базовая стилизация раздела-приветствия */

.welcome {
  color: #000000;

  background-color: #2c424b;
  background-image: url("img/polygon.svg"), url("img/background-first.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center -55px;
  background-size: 1200px 57px, auto;
}

.about {
  color: #000000;

  background-color: #ffffff;
}

.about-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*базовая стилизация раздела с преимуществами */

.features {
  color: #000000;

  background-color: #ffffff;
}

.features-subtitle {
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  list-style: none;
  text-align: center;

  background-color: #eeeeee;
}

.features-item {
  color: #333333;
}

.features-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features-item-main {
  color: #ffffff;

  background-color: #81b3d2;
}

.features-item-main h3 {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}

.reason-features-list {
  list-style: none;
  color: #333333;

  background-color: #ffffff;
}

.reason-features-list h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

/*базовая стилизация раздела с поиском гостиницы */

.hotel-search {
  text-align: center;

  background-color: #ffffff;
}

.hotel-search-proposal {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search-intro {
  line-height: 24px;
}

.hotel-search-open-button,
.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
}

.hotel-search-open-button {
  background-color: #766357;
}

.hotel-search-open-button:hover,
.hotel-search-open-button:focus {
  background-color: #604e43;
}

.hotel-search-open-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-search-button {
  background-color: #81b3d2;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #669ec0;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-search-popup {
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.hotel-search-form label {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-search-form input {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search-form input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.calendar-button {
  background-color: #f2f2f2;
  border: none;
}

.qty-button {
  background-color: #f2f2f2;
  border: none;
}

/*базовая стилизация подвала */

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-social ul {
  list-style: none;
  text-align: center;
}

.footer-social a {
  color: #ffffff;

  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-copyright-link svg {
  width: 113px;
  height: 39px;

}

.footer-copyright-link:hover svg,
.footer-copyright-link:focus svg {

}

.footer-copyright-link:active svg {

}


/*базовая стилизация фильтра гостиниц */

.main-filter {
  color: #ffffff;

  background-color: #4b7eaa;
  background-image: url("img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center -55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filters-list {
  list-style: none;
}

.infrastructure h3,
.type-house h3,
.filter-range h3 {
 font-size: 16px;
 line-height: 21px; 
}

/*базовая стилизация каталога гостиниц */

.catalog {
  color: #333333;

  background-color: #fefefe;
}

.catalog-wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-amount {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-list,
.sort-direction-list {
  list-style: none;
}

.sort-type a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

.sort-type a:active {
  color: #000000;

  border-bottom: none;
}

.sort-type-current a,
.sort-type-current a:hover,
.sort-type-current a:focus,
.sort-type-current a:active {
  color: #81b3d2;

  border-bottom: none;
}

.sort-direction-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
}

.sort-direction-item a:hover,
.sort-direction-item a:focus {
  color: #000000;
}

.sort-direction-item a:active {
  color: #81b3d2;
}

.sort-direction-item-current a,
.sort-direction-item-current a:hover,
.sort-direction-item-current a:focus,
.sort-direction-item-current a:active {
  color: #81b3d2;
}

.catalog-list {
  list-style: none;
}

.catalog-item-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item-name a {
  color: #000000;
}

.catalog-item-name a:hover,
.catalog-item-name a:focus {
  color: #81b3d2;
}

.catalog-item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-button,
.booking-button {
  font-size: 14px;
  line-height: 21px;
}

.details-button {
  background-color: #81b3d2;
}

.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}

.details-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking-button {
  background-color: #766357;
}

.booking-button:hover,
.booking-button:focus {
  
  background-color: #604e43;
}

.booking-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-stars {
  color: #81b3d2;
}

.catalog-rating {
  color: #666666;

  background-color: #f2f2f2;
}

/*сетка */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*сетка шапки */

.site-navigation {
  margin: 0;
  padding: 0;
}

/*сетка раздела-приветствия */

.welcome {
  padding-top: 75px;
  padding-bottom: 80px;
}

.welcome-logo {
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding: 0;
}

.about {
  padding-top: 60px;
  padding-bottom: 30px;
}

.about-text {
  width: 440px;
  margin: 0 auto;
  padding: 0;
}

/*сетка раздела преимуществ */

.features-subtitle {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
}

.features-item-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-item-main.right {
  flex-direction: row-reverse;
}

.features-item-main .features-image {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.features-item-wrapper {
  width: 400px;
}

.reason-features-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.reason-features-item {
  width: 400px;
}

/*сетка раздела с поиском гостиницы */

.hotel-search-proposal {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.hotel-search-intro {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.hotel-search-open-button {
  width: 568px;
  margin: 0;
  padding: 0;
}

/*сетка раздела карты */

.map {
  /* Временно для сетки */
  min-height: 460px;
}

/*сетка подвала */

.main-footer {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
}

.hashtag {
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 400px;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding: 0;
}

/*сетка фильтра гостиниц */



.main-filters-form {
  display: flex;
  
}
.main-filers-form   {
  
}
.infrastructure, .type-house {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}
.infrastructure h3, .type-house h3 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 27px;
}

.infrastructure {
  padding-left: 72px;
  width: 300px;
}
.type-house {
  width: 300px;
  padding-left: 27px;
}

.infrastructure li, .type-house li {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.infrastructure li:nth-child(2), .type-house li:nth-child(2) {
  margin-bottom: 25px;
}

.filter-range {
  width: 320px;
  margin-left: auto;
  
  color: #ffffff;
  text-transform: uppercase;
  
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/*сетка каталога гостиниц */

.catalog-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
}

.catalog-amount {
  width: 150px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.catalog-sort {
  width: 100px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.sort-list {
  width: 600px;
  margin: 0;
  padding: 0;
}

.sort-direction-list {
  width: 40px;
  margin: 0;
  padding: 0;
}

/*декоративные элементы */


.header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

/* 3.2 главное меню */

.site-navigation {
  display: flex;
  padding-right: 72px;
  padding-left: 72px;
}

.site-navigation li {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}
